/* detailedblog.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#root {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 85vh;
}
/* Detailed blog container styles */
/* Detailed Blog Container */
.detailed-blog-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1rem;
}

/* Title */
h1 {
    font-weight: 700;
}

/* No Content Title */
.no-content {
    color: grey;
}

/* Bullet Styles */
.bullet {
    display: inline-block;
    margin-right: 5px;
}

/* Description */
h2 {
    font-weight: 600;
    margin-top: 10px;
}

/* Content */
p {
    line-height: 2;
}

/* No Content Description and Content */
.no-content {
    color: grey;
}

/* Image */
.blog-image {
    max-width: 20%; /* Adjust the maximum width as needed */
    height: auto; /* Maintain aspect ratio */
}
#appbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  height: 10vh;
  background-color: #495E57;
  color: whitesmoke;
}

.appbar-btns {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.appbar-btns button {
  background-color: #FF9800;
  color: whitesmoke;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.appbar-btns button:hover {
  background-color: #F57C00;
}

.appbar-btns a {
  text-decoration: none;
  color: inherit;
}

.appbar-btns a:hover {
  text-decoration: underline;
  color: #FFEB3B;
}

.appbar-logo {
  cursor: pointer;
}
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #495b5e;
  color: #fff;
  padding: 8px 0;
  text-align: center;
}
