/* draftedblogs.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.blog-container {
    width: 80%;
    margin-top: 1.5rem;
}

.blog-item {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.blog-item:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.blog-title {
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.blog-title:hover {
    transform: translateX(10px);
}

.blog-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-date {
    font-weight: 700;
    font-style: italic;
}

.published {
    color: green;
}

.not-published {
    color: red;
    font-size: 20px;
}

.blog-desc {
    margin-top: 10px;
}

.update-btn {
    margin-bottom: 1rem;
}
#appbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  height: 10vh;
  background-color: #495E57;
  color: whitesmoke;
}

.appbar-btns {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.appbar-btns button {
  background-color: #FF9800;
  color: whitesmoke;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.appbar-btns button:hover {
  background-color: #F57C00;
}

.appbar-btns a {
  text-decoration: none;
  color: inherit;
}

.appbar-btns a:hover {
  text-decoration: underline;
  color: #FFEB3B;
}

.appbar-logo {
  cursor: pointer;
}
#appbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  height: 10vh;
  background-color: #495E57;
  color: whitesmoke;
}

.appbar-btns {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.appbar-btns button {
  background-color: #FF9800;
  color: whitesmoke;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.appbar-btns button:hover {
  background-color: #F57C00;
}

.appbar-btns a {
  text-decoration: none;
  color: inherit;
}

.appbar-btns a:hover {
  text-decoration: underline;
  color: #FFEB3B;
}

.appbar-logo {
  cursor: pointer;
}
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #495b5e;
  color: #fff;
  padding: 8px 0;
  text-align: center;
}