body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 95vw;
}
/* styles.css */

.card-container {
    width: 80vw;
    padding: 15px;
    border: 1px solid black;
    margin: 2rem;
    box-shadow: none;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.card-container:hover {
    transform: scale(1.05);
}

.title-date-image-container {
    display: flex;
    justify-content: space-between;
}

.title-date-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.title {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: bold;
}

.date {
    font-size: 1rem;
    font-style: italic;
    color: green;
}

.blog-image {
    width: 20%; /* Adjust the width of the image as needed */
    height: auto;
    border-radius: 10px;
}

.description {
    margin-top: 10px;
    font-size: 1rem;
}

#appbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  height: 10vh;
  background-color: #495E57;
  color: whitesmoke;
}

.appbar-btns {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.appbar-btns button {
  background-color: #FF9800;
  color: whitesmoke;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.appbar-btns button:hover {
  background-color: #F57C00;
}

.appbar-btns a {
  text-decoration: none;
  color: inherit;
}

.appbar-btns a:hover {
  text-decoration: underline;
  color: #FFEB3B;
}
.appbar-logo {
  cursor: pointer;
}
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #495b5e;
  color: #fff;
  padding: 8px 0;
  text-align: center;
}