body {
  margin: 0;
  font-family: Arial, sans-serif;
}
#root{
  min-height: 76.8vh;
}
.blogs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.blog-card {
  width: 300px;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.blog-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.blog-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.blog-description {
  font-size: 1.2rem;
  margin-top: 10px;
}

.published-badge {
  background-color: green;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.not-published-badge {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.action-buttons {
  margin-top: 20px;
  text-align: center;
}

.button {
  margin: 0 5px;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-button {
  background-color: #ffa500;
  color: white;
}

.delete-button {
  background-color: #ff0000;
  color: white;
}
#appbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  height: 10vh;
  background-color: #495E57;
  color: whitesmoke;
}

.appbar-btns {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.appbar-btns button {
  background-color: #FF9800;
  color: whitesmoke;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.appbar-btns button:hover {
  background-color: #F57C00;
}

.appbar-btns a {
  text-decoration: none;
  color: inherit;
}

.appbar-btns a:hover {
  text-decoration: underline;
  color: #FFEB3B;
}

.appbar-logo {
  cursor: pointer;
}
.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #495b5e;
  color: #fff;
  padding: 8px 0;
  text-align: center;
}